### Python ###
__pycache__/
api_keys.py

## pyenv ##
.python-version

## pytest ##
.pytest_cache/

### Data Files ###
final_jsons/*.json
shape_files/*.json
*.csv
*.xls
*.xlsx
*.pkl

### Jupyter Notebook ###
.ipynb_checkpoints/
*.ipynb

## VS Code ##
.vscode/

## PyCharm ##
.idea

## Secrets ##
.env

## ignore test script
untitled.py

## ignore test output
tests/output

## Memory Profiling ##
memory_profile_report.txt
raw_memory_usage.txt
