### Python ###
__pycache__/
api_keys.py

## pyenv ##
.python-version

## pytest ##
.pytest_cache/

### Data Files ###
*.json
*.csv
*.xlsx

### Jupyter Notebook ###
.ipynb_checkpoints/
*.ipynb

## VS Code ##
.vscode/

## PyCharm ##
.idea

## Secrets ##
.env

## ignore test script
untitled.py
## Memory Profiling ##
memory_profile_report.txt
raw_memory_usage.txt
