### Python ###
__pycache__/
api_keys.py

## pyenv ##
.python-version

## pytest ##
.pytest_cache/

### Data Files ###
*.json
*.csv
*.xlsx

### Jupyter Notebook ###
.ipynb_checkpoints/
*.ipynb

## VS Code ##
.vscode/

## Secrets ##
.env